body {
  font-family: 'Lora', serif;
  font-family: 'Zen Antique', serif;
}

#teaDrink {
  font-family: 'Lora', serif;
  font-family: 'Zen Antique', serif;
  border: dotted;
  font-size: 45px;
}


.container {
  width: 100%;
  height: 100%;
  
}

#box{

}



