body {
  font-family: 'Lora', serif;
  font-family: 'Zen Antique', serif;
}

#teaDrink {
  font-family: 'Lora', serif;
  font-family: 'Zen Antique', serif;
  border: dotted;
  font-size: 45px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#whiteTea{
  color: white
}

#blackTea{
  color: black;
}

#greenTea{
  color: lightgreen;
}

